/*<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

Eggshellwhite, dark vanilla and taupegray with jellybeanred highlights come together in this minimalist yet warm and inviting site.*/

/*colors used:
Primary Color (eggshellwhite): #eae7dc;
logo color :#9c5048;
secondary color (dark vanilla): #d8c3a5 ;
Text color(taupegray):8e8e8a#;
button frame (taupegray): #8e8e8e;
active state / social media (jellybeanred): #e85a4f */

header {
  background-color: #ccc9bf;
  border: 0.5px solid #ccc9bf;
  grid-column: 600px;
  font-family: "Raleway", sans-serif;
  color: #8e8d8a;
  text-align: center;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  width: 100%;
}
.logo {
  max-width: 250px;
}
selector {
  display: inline-block;
  position: relative;
  width: 100%;
}
img {
  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

main {
  background-color: #eae7dc;
  border: 0.5px solid transparent;
  padding-top: 133px;
  padding: 10px;
  margin: 10px;
}

#hero {
  background-color: #ffe4c4;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin: 10px;
}
body {
  background-color: #eae7dc;
  font-family: "lato", sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #8e8e8a;
}
.intro {
  text-align: center;
}
.skillsandtools h4 {
  font-size: 20px;
  font-style: italic;

  text-align: left;
  color: #8e8e8e;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
  list-style-type: none;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
  text-align: center;
}
img {
  width: 100%;
}
a {
  color: rgb(142, 142, 138);
  text-decoration: none; /* No underlining */
}
nav > ul > li > a:hover,
a.focus {
  color: rgb(232, 90, 79);
  text-decoration: underline; /* Underlining when hovering over a link */
  display: inline-block;
  position: relative;
  width: 100%;
}
nav > ul > li > a:visited {
  /* visited link */
  color: #8e8e8e;
  display: inline-block;
  position: relative;
  width: 100%;
}
nav > ul > li > a:active {
  /* selected link */
  color: #e85a4f;
  display: inline-block;
  position: relative;
  width: 100%;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #eae7dc;
  color: #8e8d8a; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 5px solid rgb(232, 90, 79); /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button.contact:hover {
  background-color: #eae7dc;
  color: #8e8d8a;
  text-transform: uppercase;
  border: 2px solid rgb(232, 90, 79);
}

.download {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #eae7dc;
  color: #8e8d8a; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 5px solid #e85a4f; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.download:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.download.contact:hover {
  background-color: #eae7dc;
  color: #8e8d8a;
  text-transform: uppercase;
  border: 2px solid rgb(232, 90, 79);
}

#work .row {
  margin: 25px 0;
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}
.copyright {
  font-size: 12px;
}
